<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
    <MenuItem RouterLink="" RouterMatch="NavLinkMatch.All">
        <AntDesign.Icon Type="home" Theme="outline" />
        <span>Home</span>
    </MenuItem>
    <MenuItem RouterLink="counter">
        <Icon Type="plus" Theme="outline" />
        <span>Counter</span>
    </MenuItem>
    <MenuItem RouterLink="fetchdata">
        <Icon Type="cloud" Theme="outline" />
        <span>Weather</span>
    </MenuItem>
    <MenuItem RouterLink="capabilities">
        <AntDesign.Icon Type="table" Theme="outline" />
        <span>Capabilities</span>
    </MenuItem>
    @*<MenuItem RouterLink="chart">
            <AntDesign.Icon Type="line-chart" Theme="outline" />
            <span>Charts</span>
        </MenuItem>
        <MenuItem RouterLink="images">
            <AntDesign.Icon Type="picture" Theme="outline" />
            <span>Images</span>
        </MenuItem>
        <MenuItem RouterLink="messages">
            <AntDesign.Icon Type="table" Theme="outline" />
            <span>Telemetrie</span>
        </MenuItem>
        <MenuItem RouterLink="devices">
            <AntDesign.Icon Type="control" Theme="outline" />
            <span>Device</span>
        </MenuItem>*@
</Menu>