<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
    <MenuItem RouterLink="" RouterMatch="NavLinkMatch.All">
        <AntDesign.Icon Type="home" Theme="outline" />
        <span>Home</span>
    </MenuItem>
    <MenuItem RouterLink="counter">
        <Icon Type="plus" Theme="outline" />
        <span>Counter</span>
    </MenuItem>
    <MenuItem RouterLink="fetchdata">
        <Icon Type="cloud" Theme="outline" />
        <span>Weather</span>
    </MenuItem>
    <MenuItem RouterLink="capabilities">
        <AntDesign.Icon Type="table" Theme="outline" />
        <span>Capabilities</span>
    </MenuItem>
    <MenuItem RouterLink="stocks">
        <AntDesign.Icon Type="line-chart" Theme="outline" />
        <span>Stocks</span>
    </MenuItem>
</Menu>