<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
    <MenuItem RouterLink="" RouterMatch="NavLinkMatch.All">
        <AntDesign.Icon Type="home" Theme="outline" />
        <span>Home</span>
    </MenuItem>
    <MenuItem RouterLink="capabilities">
        <AntDesign.Icon Type="table" Theme="outline" />
        <span>Capabilities</span>
    </MenuItem>
    <MenuItem RouterLink="stocks">
        <AntDesign.Icon Type="line-chart" Theme="outline" />
        <span>Stocks</span>
    </MenuItem>
    <MenuItem RouterLink="ml">
        <AntDesign.Icon Type="experiment" Theme="outline" />
        <span>Machine Learning</span>
    </MenuItem>
    <MenuItem RouterLink="downloads">
        <AntDesign.Icon Type="cloud-download" Theme="outline" />
        <span>Downloads</span>
    </MenuItem>
    <MenuItem RouterLink="jira">
        <AntDesign.Icon Type="tags" Theme="outline" />
        <span>Jira</span>
    </MenuItem>
</Menu>